%h1.center Users
.row.center
  - @users.each do |user|
    .col-md-3.well.usersWell
      %a{href:"users/#{user.id}"}
        .row.center
          .col-md-4
            = show_avatar(user, 100)
          .col-md-8
            = user.name
