%h1.center Users
.row.center.usersRow
  - @users.each do |user|
    .col-lg-3.col-md-4.col-sm-6
      %a.booksLinks{href:"users/#{user.id}"}
        .well.usersWell
          .row.center
            .col-md-4
              = show_avatar(user, 70)
            .col-md-8
              = user.name
      - if user_signed_in? && current_user.admin?
        = link_to "Delete", user_path(user), method: :delete, class: "btn btn-danger",data: { confirm: "Are you sure?"}
