%h1 Users
%section.user
  - users.each do |user|
    .user__card
      .user__info
        %section
          %figure.user__avatar
            = link_to show_avatar(user, 70), user_path(user)
          .user__name
            = link_to user.name, user_path(user)
          - if user_signed_in? && current_user.admin?
            = link_to 'Delete', user_path(user), method: :delete, class: 'button button_deny button_sm',data: { confirm: 'Are you sure?'}
