- flash.each do |name, message|
  - name == "alert" ? alert_name = "deny" : alert_name = "confirm"
  .alert{class: "message_#{alert_name}"}
    %a.close{ href: "#", data: { dismiss: "alert" } } &times;
    = content_tag :div, message, id: "flash_#{name}" if message.is_a?(String)

// TODO change data-dismiss to alert - in order to avoid delay