- flash.each do |name, message|
  .alert{class: "alert-#{name}"}
    %a.close{ href: "#", data: { dismiss: "alert" } } &times;
    = content_tag :div, message, id: "flash_#{name}" if message.is_a?(String)