/ = link_to "Already read it", book_readers_path(@book), remote: true, method: :post, class: "button button--confirm"
= form_for :reader, { url: book_readers_path(@book), remote: true } do |f|
  = f.submit "Already read it", class: "button button--confirm"