%h1 Books
- @books.each do |book|
  %section
    %article.board
      %a.books__links{href:"/books/#{book.id}"}
        %section.books__all-details
          %figure
            = image_tag book.picture.url(:thumb), class: "books__cover_small"
          .books__description_small
            .books__content
              %strong Title:
              = book.title
            .books__content
              %strong Published at:
              = book.published_at.strftime("%B, %Y")
