%h1.center Books
- @books.each do |book|
  %section
    %article.books__card
      %a.books__links{href:"/books/#{book.id}"}
        %section.books__all-details
          %figure.center
            = image_tag book.picture.url(:thumb), class: "books__cover--small"
          .books__description--small
            .books__content
              %strong Title:
              = book.title
            .books__content
              %strong Published at:
              = book.published_at.strftime("%B, %Y")
