.navbar {
  padding: 0 15px;
  margin-bottom: 0;
  border: none;
  background-color: $rusty_red;
  .navbar-brand,
  .nav li a {
    background-color: $rusty_red;
    color: white;
    &:hover,
    &:focus {
      color: $navy_blue;
    }
  }
  .navbar-brand {
    @media (max-width: 340px){
      font-size: 15px
    }
  }
  .navbar-nav {
    .open {
      a,
      a:hover,
      a:focus,
      .dropdown-menu>li>a {
        background-color: $rusty_red;
        color: white; 
      }
      .dropdown-menu>li>a:hover {
        color: $navy_blue
      }
    }
  }
  .navbar-toggle {
    .icon-bar {
      background-color: white;      
    }
    &:hover,
    &:focus {
      background-color: darken($rusty_red,10%);
    }
  }
  ul.dropdown-menu {
    background-color: $rusty_red;
    border-color: white;
    border-top: none;
    .divider {
      width: 260px;
    }
  }
}


.navigation {
  @extend .navbar;
}

.navigation_theme_default {
  @extend .navbar-default;
}

.navigation_top {
  @extend .navbar-fixed-top;
}

.navigation__box {
  @extend .container-fluid;
}

.navigation__logo {
  @extend .navbar-brand;
}

.navigation__menu {
  @extend .navbar-header;
}

.navigation__toggle {
  @extend .navbar-toggle;
}

.navigation__toggle-bar {
  @extend .icon-bar;
}

.navigation__screen-reader {
  @extend .sr-only;
}

.navigation_collapse {
  @extend .navbar-collapse;
}

.navigation__items,
.navigation__status {
  @extend .navbar-nav;
}

.navigation__status {
  @extend .navbar-right;
}

.navigation__dropdown {
  @extend .dropdown;
}

.navigation__dropdown-toggle {
  @extend .dropdown-toggle;
}

.navigation__dropdown-menu {
  @extend .dropdown-menu;
}