.body__pages {
  .flash__box {
    display: none;
  }

  .box {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    .jumbotron {
      border-radius: 0;
    }
  }
}