.center {
  text-align: center;
}

.jumbotron {
  // background-color: #B2B4FB
}

// .container-fluid {
//   padding: 0;
// }

.navbar {
  margin-bottom: 0;
  border: none;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;  
}

#error_explanation {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}


