.space__utilities {
  background-color: $navy_blue;
  h1 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  p {
    margin-top: 1.5em;
  }
}

.space__col {
  @include make-md-column(4)
}

.books__card,
.posts__card {
  @include make-md-column(8);
  @include make-md-column-offset(2);
}

.books__cover,
.books__description {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include make-md-column(6);
  @include make-md-column-offset(0);
}

.books__cover_small {
  @include make-sm-column(3);
}

.books__description_small {
  @include make-sm-column(9);
}

.books__cover_small,
.books__description_small {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.books__cover,
.books__cover_small {
  box-shadow: unset;
  @media (max-width: $screen-md-max) {
    margin-bottom: 1.6em;
  }
}

.books__content {
  font-size: 1.2em;
  word-wrap: break-word;
}

.comments__content {
  @include make-thumbnail();
  @include make-md-column(6);
  @include make-md-column-offset(3);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: darken($warm_yellow, 10%);
  @include shadow-color;
  border: none;
  text-align: center;
}

.comments__date,
.posts__date {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}





// SHOW USER PAGE

.user {
  text-align: center; 
  h1 {
    min-height: 2.2em;
    margin: $line-height-computed 0 ($line-height-computed / 2);
    & + img {
      margin-top: 0.25em;
    }
  }
  img {
    margin-bottom: 0.5em;
  }
}



.user__books {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column-offset(0);
  @include make-sm-column(3);
}

.user__input {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column-offset(0);
  @include make-sm-column(9);
}

.user__registr-date {
  margin: 10px 0;
}

.user__content {
  @include make-md-column(6);
}

.user__content-details,
.user__info,
.books__all-details,
.posts__all-details {
  @include make-well();
  background-color: darken($warm_yellow, 5%);
  @include shadow-color;
  border-color: $rusty_red;
  border: none;
  margin: 1em 0;
  h3 {
    margin: 0 0 0.2em;
  }
  h2 {
    margin-top: 0.4em;
  }
}

h1,
.books__all-details figure {
  text-align: center;
}

h1 {
  margin: 1em;
}

.posts__all-details {
  h2,
  footer {
    text-align: center;
  }
}

.user__content-date {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  margin-top: 1.5em;
}



// INDEX USERS PAGE

.user__card {
  @media (max-width: 500px) {
    @include make-xs-column(8);
    @include make-xs-column-offset(2);
  }
  @include make-xs-column(6);
  @include make-xs-column-offset(3);
  @include make-sm-column-offset(0);
  @include make-md-column(4);
  @include make-lg-column(3);
} 

.user__avatar {
  @include make-xs-column(4);
}

.user__name {
  @include make-xs-column(8);
  a {
    display: block;
    margin-bottom: 1em;
  }
}

.flash__home-outside-box{
  background-color: $gun_metal;
}

.center {
  text-align: center;
  .bookImage {
    @media (min-width: $screen-sm-min){
      margin: 0;
    }
  }
}

.navbar {
  padding: 0 15px;
  margin-bottom: 0;
  border: none;
  background-color: $rusty_red;
  .navbar-brand,
  .nav li a {
    background-color: $rusty_red;
    color: white;
    &:hover,
    &:focus {
      color: $navy_blue;
    }
  }
  .navbar-brand {
    @media (max-width: 340px){
      font-size: 15px
    }
  }
  .navbar-nav {
    .open {
      a,
      a:hover,
      a:focus,
      .dropdown-menu>li>a {
        background-color: $rusty_red;
        color: white; 
      }
      .dropdown-menu>li>a:hover {
        color: $navy_blue
      }
    }
  }
  .navbar-toggle {
    .icon-bar {
      background-color: white;      
    }
    &:hover,
    &:focus {
      background-color: darken($rusty_red,10%);
    }
  }
  ul.dropdown-menu {
    background-color: $rusty_red;
    border-color: white;
    border-top: none;
    .divider {
      width: 260px;
    }
  }
}

figure {
  .book {
  }
}

.clear {
  clear: both;
}
