@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  font-family: 'Architects Daughter', cursive;
  // font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 1px; 
  font-size: 16px;
  color: $navy_blue;
  background-color: $warm_yellow;
  padding: 50px 0 0;
}

.box,
.flash__box,
.flash__home-box,
.books__box,
.space__box {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.space {
  @include make-jumbo();
  margin-bottom: 0;
  color: white;
  background-color: $gun_metal;
  min-height: 93vh;
  p {
    margin: 1.2em 0 1.8em;
  }
  .button_confirm {
    background-color: $navy_blue;
    &:hover,
    &:active,
    &:focus,
    &:disabled {
      background-color: darken($navy_blue, 5%);
    }
  }
  i {
    display: block;
  }
  text-align: center;
}

.space__landing {
  h1 {
    margin-top: 0;
    word-wrap: break-word;
  }
  div,
  span {
    font-size: 2.1em;
  }
}

.navigation {
  @extend .navbar;
}

.navigation_theme_default {
  @extend .navbar-default;
}

.navigation_top {
  @extend .navbar-fixed-top;
}

.navigation__box {
  @extend .container-fluid;
}

.navigation__logo {
  @extend .navbar-brand;
}

.navigation__menu {
  @extend .navbar-header;
}

.navigation__toggle {
  @extend .navbar-toggle;
}

.navigation__toggle-bar {
  @extend .icon-bar;
}

.navigation__screen-reader {
  @extend .sr-only;
}

.navigation_collapse {
  @extend .navbar-collapse;
}

.navigation__items,
.navigation__status {
  @extend .navbar-nav;
}

.navigation__status {
  @extend .navbar-right;
}

.navigation__dropdown {
  @extend .dropdown;
}

.navigation__dropdown-toggle {
  @extend .dropdown-toggle;
}

.navigation__dropdown-menu {
  @extend .dropdown-menu;
}


.space__utilities {
  background-color: $navy_blue;
  h1 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  p {
    margin-top: 1.5em;
  }
}

.space__col {
  @include make-md-column(4)
}

.books__card,
.posts__card {
  @include make-md-column(8);
  @include make-md-column-offset(2);
}

.books__cover,
.books__description {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include make-md-column(6);
  @include make-md-column-offset(0);
}

.books__cover_small {
  @include make-sm-column(3);
}

.books__description_small {
  @include make-sm-column(9);
}

.books__cover_small,
.books__description_small {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.books__cover,
.books__cover_small {
  box-shadow: unset;
  @media (max-width: $screen-md-max) {
    margin-bottom: 1.6em;
  }
}

.books__content {
  font-size: 1.2em;
  word-wrap: break-word;
}

.comments__content {
  @include make-thumbnail();
  @include make-md-column(6);
  @include make-md-column-offset(3);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: darken($warm_yellow, 10%);
  @include shadow-color;
  border: none;
  text-align: center;
}

.comments__date,
.posts__date {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

section {
  @include make-row();
}

.js-wishlist__add,
.js-read__add {
  form {
    display: inline;
  }
}

// SHOW USER PAGE

.user {
  text-align: center; 
  h1 {
    min-height: 2.2em;
    margin: $line-height-computed 0 ($line-height-computed / 2);
    & + img {
      margin-top: 0.25em;
    }
  }
  img {
    margin-bottom: 0.5em;
  }
}



.user__books {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column-offset(0);
  @include make-sm-column(3);
}

.user__input {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column-offset(0);
  @include make-sm-column(9);
}

.user__registr-date {
  margin: 10px 0;
}

.user__content {
  @include make-md-column(6);
}

.user__content-details,
.user__info,
.books__all-details,
.posts__all-details {
  @include make-well();
  background-color: darken($warm_yellow, 5%);
  @include shadow-color;
  border-color: $rusty_red;
  border: none;
  margin: 1em 0;
  h3 {
    margin: 0 0 0.2em;
  }
  h2 {
    margin-top: 0.4em;
  }
}

h1,
.books__all-details figure {
  text-align: center;
}

h1 {
  margin: 1em;
}

.posts__all-details {
  h2,
  footer {
    text-align: center;
  }
}

.message_deny {
  @include make-alert();
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.message_confirm {
  @include make-alert();
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}


.user__content-date {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  margin-top: 1.5em;
  & + section {
    margin-top: 0.75em;
  }
}

.form {
  @include make-xs-column(8);
  @include make-xs-column-offset(2);
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  @include make-lg-column(4);
  @include make-lg-column-offset(4);
}

// .form__label {
//   margin-bottom: 0;
//   vertical-align: middle;
//   @media (min-width: $screen-sm-min) {
//     text-align: right;
//     margin-bottom: 0;
//     padding-top: ($padding-base-vertical + 1);
//   }
// }

.form__inputs {
  margin-bottom: $form-group-margin-bottom;
}

.form__input {
  // @include make-form();
  @extend .form-control;
}

// TODO check this mixin!!!

// INDEX USERS PAGE

.user__card {
  @media (max-width: 500px) {
    @include make-xs-column(8);
    @include make-xs-column-offset(2);
  }
  @include make-xs-column(6);
  @include make-xs-column-offset(3);
  @include make-sm-column-offset(0);
  @include make-md-column(4);
  @include make-lg-column(3);
} 

.user__avatar {
  @include make-xs-column(4);
}

.user__name {
  @include make-xs-column(8);
  a {
    display: block;
    margin-bottom: 1em;
  }
}

.button {
  border: none;
  // @extend .btn;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.button_confirm {
  // @extend .btn-primary;
  @include button-variant(white, $gun_metal, white);
}

.button_deny {
  // @extend .btn-danger;
  @include button-variant(white, $rusty_red, white);
}

.button_lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

.button_sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.button_xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.button_submit {
  width: 100%;
}

.flash__home-outside-box{
  background-color: $gun_metal;
}

.center {
  text-align: center;
  .bookImage {
    @media (min-width: $screen-sm-min){
      margin: 0;
    }
  }
}

.navbar {
  padding: 0 15px;
  margin-bottom: 0;
  border: none;
  background-color: $rusty_red;
  .navbar-brand,
  .nav li a {
    background-color: $rusty_red;
    color: white;
    &:hover,
    &:focus {
      color: $navy_blue;
    }
  }
  .navbar-brand {
    @media (max-width: 340px){
      font-size: 15px
    }
  }
  .navbar-nav {
    .open {
      a,
      a:hover,
      a:focus,
      .dropdown-menu>li>a {
        background-color: $rusty_red;
        color: white; 
      }
      .dropdown-menu>li>a:hover {
        color: $navy_blue
      }
    }
  }
  .navbar-toggle {
    .icon-bar {
      background-color: white;      
    }
    &:hover,
    &:focus {
      background-color: darken($rusty_red,10%);
    }
  }
  ul.dropdown-menu {
    background-color: $rusty_red;
    border-color: white;
    border-top: none;
    .divider {
      width: 260px;
    }
  }
}

textarea {
  resize: none;
}

img {
  border-radius: 3%;
  @include shadow-color; 
}

figure {
  .book {
  }
}

.clear {
  clear: both;
}

input.form__input, textarea.form__input {
  outline-color: $rusty_red;
  &:focus {
    border-color: $rusty_red;
    box-shadow: none;
  }
}

a {
  color: $navy_blue;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &.books__links:hover, &.books__links:focus {
    text-decoration: none;
    color: $navy_blue
  }
  .books__all-details:hover{
    background-color: darken($warm_yellow, 10%);
  }
}

input[type=password] {
  font-family: "Arial Black";
}

input[type=email], input[type=text], input[type=date], input[type=password], textarea.form__input {
  font-size: 1.2em;
}

.books__buttons {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  a {
    margin-top: 0.3em;
  }
}

