$navy_blue: #161220;
$gun_metal: #233237;
$rusty_red: #984B43;
$warm_yellow: #EAC67A;

@mixin shadow-color {
-webkit-box-shadow: 1px 2px 5px 1px rgba(152,75,67,1);
-moz-box-shadow: 1px 2px 5px 1px rgba(152,75,67,1);
box-shadow: 1px 2px 5px 1px rgba(152,75,67,1);
}

@mixin regular-button($button-bg-color, $button-text-color: white) {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  @include button-variant($button-text-color, $button-bg-color, white);
  border: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}

@mixin make-well(){
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  border: 1px solid $well-border;
  border-radius: $border-radius-base;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

@mixin make-jumbo(){
  $jumbotron-padding: 75px;
  padding-top:    $jumbotron-padding;
  padding-bottom: $jumbotron-padding;
  margin-bottom: $jumbotron-padding;
  color: $jumbotron-color;
  background-color: $jumbotron-bg;

  h1,
  .h1 {
    color: $jumbotron-heading-color;
  }

  p {
    margin-bottom: ($jumbotron-padding / 2);
    font-size: $jumbotron-font-size;
    font-weight: 200;
  }

  > hr {
    border-top-color: darken($jumbotron-bg, 10%);
  }

  .container &,
  .container-fluid & {
    border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($jumbotron-padding * 1.6);
    padding-bottom: ($jumbotron-padding * 1.6);

    .container &,
    .container-fluid & {
      padding-left:  ($jumbotron-padding * 2);
      padding-right: ($jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: $jumbotron-heading-font-size;
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  font-family: 'Architects Daughter', cursive;
  // font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 1px; 
  font-size: 16px;
  color: $navy_blue;
  background-color: $warm_yellow;
  padding: 50px 0 0;
}

.box, .flash__box, .flash__home-box, .books__box, .space__box {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.space {
  @include make-jumbo();
  margin-bottom: 0;
  color: white;
  background-color: $gun_metal;
  min-height: 93vh;
  p {
    margin: 1.2em 0 1.8em;
  }
  .button--confirm {
    background-color: $navy_blue;
    &:hover, &:active, &:focus, &:disabled {
      background-color: darken($navy_blue, 5%);
    }
  }
  i {
    display: block;
  }
}

.space__landing {
  h1 {
    margin-top: 0;
    word-wrap: break-word;
  }
  div, span {
    font-size: 2.1em;
  }
}

.space__utilities {
  background-color: $navy_blue;
  h1 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  p {
    margin-top: 1.5em;
  }
}

.space__col {
  @include make-md-column(4)
}

.books__card {
  @include make-md-column(8);
  @include make-md-column-offset(2);
}

.books__cover, .books__description {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include make-md-column(6);
  @include make-md-column-offset(0);
}

.books__cover {
  box-shadow: unset;
  @media (max-width: $screen-md-max) {
    margin-bottom: 1.6em;
  }
}

.books__content {
  font-size: 1.2em;
  word-wrap: break-word;
}

section {
  @include make-row();
}

#removeFromWish, #addToWish, #removeFromRead, #addToRead {
  form {
    display: inline;
  }
}

// SHOW USER PAGE

.user {
  text-align: center; 
  h1 {
    min-height: 2.2em;
    & + img {
      margin-top: 0.25em;
    }
  }
}

.user__books {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column-offset(0);
  @include make-sm-column(3);
}

.user__input {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column-offset(0);
  @include make-sm-column(9);
}

.user__registr-date {
  margin: 10px 0;
}

.user__content{
  @include make-md-column(6);
}

.user__content-details, .user__info, .books__all-details {
  @include make-well();
  background-color: darken($warm_yellow, 5%);
  @include shadow-color;
  border-color: $rusty_red;
  border: none;
  margin: 1em 0;
  h3 {
    margin: 0 0 0.2em;
  }
  // .commentDate {
  //   font-size: 0.8em;
  //   font-style: italic;
  //   text-align: right;
  //   margin-top: 0.5em;
  //   margin-bottom: 0.5em;
  // }
  section {
    margin-top: 0.75em;
  }
}

.user__content-date {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  margin-top: 1.5em;
}

// INDEX USERS PAGE

.user__card {
  @media (max-width: 500px) {
    @include make-xs-column(8);
    @include make-xs-column-offset(2);
  }
  @include make-xs-column(6);
  @include make-xs-column-offset(3);
  @include make-sm-column-offset(0);
  @include make-md-column(4);
  @include make-lg-column(3);
} 

.user__avatar {
  @include make-xs-column(4);
}

.user__name {
  @include make-xs-column(8);
  a {
    display: block;
    margin-bottom: 1em;
  }
}

.button {
  border: none;
  // @extend .btn;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  &:hover, &:focus {
    text-decoration: none;
  }
}

.button--confirm {
  // @extend .btn-primary;
  @include button-variant(white, $gun_metal, white);
}

.button--deny {
  // @extend .btn-danger;
  @include button-variant(white, $rusty_red, white);
}

.button--lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

.button--sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.button--xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.submit {
  width: 100%;
}

.flash__home-outside-box{
  background-color: $gun_metal;
}

.center {
  text-align: center;
  .bookImage {
    @media (min-width: $screen-sm-min){
      margin: 0;
    }
  }
}

h1.center {
  margin: 1em;
}

.commentContent {
  .thumbnail {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: darken($warm_yellow, 10%);
    @include shadow-color;
    border: none;
    p:nth-child(3) {
      margin: 0;
    }
    p:nth-child(4) {
      margin: 0;
    }
    .button--deny {
      margin-bottom: 1em;
    }
  }
}

.navbar {
  padding: 0 15px;
  margin-bottom: 0;
  border: none;
  background-color: $rusty_red;
  .navbar-brand, .nav li a {
    background-color: $rusty_red;
    color: white;
    &:hover, &:focus {
      color: $navy_blue;
    }
  }
  .navbar-brand {
    @media (max-width: 340px){
      font-size: 15px
    }
  }
  .navbar-nav {
    .open {
      a, a:hover, a:focus, .dropdown-menu>li>a {
        background-color: $rusty_red;
        color: white; 
      }
      .dropdown-menu>li>a:hover {
        color: $navy_blue
      }
    }
  }
  .navbar-toggle {
    .icon-bar {
      background-color: white;      
    }
    &:hover, &:focus {
      background-color: darken($rusty_red,10%);
    }
  }
  ul.dropdown-menu {
    background-color: $rusty_red;
    border-color: white;
    border-top: none;
    .divider {
      width: 260px;
    }
  }
}

.alert {
  margin: 10px 0;
}

.wide {
  width: 100%;
}

textarea {
  resize: none;
}

img {
  border-radius: 3%;
  @include shadow-color; 
}

figure {
  .book {
  }
}

.clear {
  clear: both;
}



.navy {
  @include regular-button($gun_metal);
}

.rusty {
  @include regular-button($rusty_red);
}

.btn-primary {
  background-color: $gun_metal;
  border: none;
  &:hover, &:active, &:focus, &:disabled {
    background-color: darken($gun_metal, 10%);
  }
}

.btn-danger {
  background-color: $rusty_red;
  border: none;
  &:hover, &:active, &:focus, &:disabled {
    background-color: darken($rusty_red, 10%);
  }
}

input.form-control, textarea.form-control {
  outline-color: $rusty_red;
  &:focus {
    border-color: $rusty_red;
    box-shadow: none;
  }
}

a {
  color: $navy_blue;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &.books__links:hover, &.books__links:focus {
    text-decoration: none;
    color: $navy_blue
  }
  .books__all-details:hover{
    background-color: darken($warm_yellow, 10%);
  }
}

input[type=password] {
  font-family: "Arial Black";
}

input[type=email], input[type=text], input[type=date], input[type=password], textarea.form-control {
  font-size: 1.2em;
}

.bookButtons {
  margin-bottom: 2em;
  margin-top: 2em;
  a {
    margin-top: 0.3em;
  }
}

