.center {
  text-align: center;
}

.jumbotron {
  // background-color: #B2B4FB
}

// .container-fluid {
//   padding: 0;
// }

.navbar {
  margin-bottom: 0;
  // background-color: desaturate(#B2B4FB, 60%);
  border: none;
}